In [15]:
import pandas
import requests
import json
import psycopg2
import sqlalchemy
import datetime

In [2]:
def feeds_urls(url = "https://gbfs.capitalbikeshare.com/gbfs/gbfs.json", lang = "en"):
    try:
        feeds = json.loads(requests.get(url).content)
        return pandas.json_normalize(feeds, record_path = ["data", lang, "feeds"], meta = "last_updated")
    except:
        print("Failure in feed retrival")

In [3]:
def get_data(url):
    try:
        dat = json.loads(requests.get(url).content)
        return pandas.json_normalize(dat, record_path = ["data", "stations"], meta = ["last_updated", "ttl"])
    except:
        print("Failure in data retrieval")

In [4]:
feeds = feeds_urls()
station_status = feeds.loc[feeds["name"] == "station_status"]["url"].iloc[0]

In [17]:
dat = get_data(station_status)
dat["time"] = dat.last_updated.apply(lambda x: datetime.datetime.fromtimestamp(x))

In [18]:
df = dat[["is_installed", "num_bikes_available", "last_reported", "is_renting", "eightd_has_available_keys",
     "num_docks_available", "num_docks_disabled", "is_returning", "station_id", "num_ebikes_available", "num_bikes_disabled", "time"]]
df

,is_installed,num_bikes_available,last_reported,is_renting,eightd_has_available_keys,num_docks_available,num_docks_disabled,is_returning,station_id,num_ebikes_available,num_bikes_disabled,time
0,1,5,1620218878,1,False,9,0,1,1,0,0,2021-05-05 13:28:40
1,1,9,1620214177,1,False,2,0,1,2,0,0,2021-05-05 13:28:40
2,1,12,1620215367,1,False,5,0,1,3,0,0,2021-05-05 13:28:40
3,1,12,1620216138,1,False,3,0,1,4,0,1,2021-05-05 13:28:40
4,1,11,1620205191,1,False,0,0,1,5,1,0,2021-05-05 13:28:40
...,...,...,...,...,...,...,...,...,...,...,...,...
623,1,4,1620216421,1,False,11,0,1,664,1,0,2021-05-05 13:28:40
624,1,7,1620213857,1,False,12,0,1,665,0,0,2021-05-05 13:28:40
625,1,2,1620203002,1,False,9,0,1,667,0,0,2021-05-05 13:28:40
626,1,13,1620211007,1,False,2,0,1,668,5,0,2021-05-05 13:28:40
627,1,2,1620202702,1,False,9,0,1,669,0,0,2021-05-05 13:28:40

In [19]:
engine = sqlalchemy.create_engine('postgresql+psycopg2://edupiata:R6q9H8KxW5T2BgAcnI3vsYOHwugko8Xc@queenie.db.elephantsql.com:5432/edupiata')

In [20]:
df.to_sql("bike_raw_data", engine, if_exists = "append", index = False)